html, body {width:100%; overflow-x:hidden;}

#header {
    background-image: url("/images/header.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    position: relative;
    z-index: 1;
}

#main-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#part0 {
    padding-bottom: 75px;
}

#part1 {
    background-color: #306390;
}

#footer {
    background-color: #306390;
    color: white;
    text-align: center;
    height: auto;
    font-size: 18px;
}

.menuContainer {
    padding-top: 25px;
}

.menuContainer a {
    color: white;
    font-size: 18px;
}

.my-navbar {
    border-bottom: solid 1px white;
    height: 100px;
    background: rgba(24, 44, 64, 0.5);
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
}

.header-description {
    text-align: center;
    list-style-type: none;
    padding-top: 250px;
    padding-bottom: 100px;
    color: white;
}

.description-list ul {
    list-style-type: none;
}

.description-list li {
    font-size: 18px;
}

.main-content-part {
    height: auto;
    text-align: center;
}

.table {
    margin: 0 auto;
}

.table-container h2{
    color: #FFFFFF;
}

.footer-content {
    margin: 0 auto;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        margin-top: 22px;
    }

    .navbar-toggle {
        border-color: white;
    }

    .header-description {
        padding: 250px 10px 100px 10px;
    }

    .description-list {
        padding: 0 10px 0 10px;
    }

    .description-list ul {
        padding-left: 0;
    }

    #main-content {
        margin-top: 25px;
    }

    .main-content-part h4 {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 1px;
        padding: 35px 10px 0 10px;
    }

    .table {
        width: 100% !important;
    }

    .map-box iframe {
        padding: 25px 35px 25px 25px;
    }

    .footer-content {
        padding: 15px 20px 0 20px;
    }
}

.navbar .navbar-toggle .icon-bar {
    background-color: white;
}


